@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@import "tailwindcss";



body {
  font-family: "Noto Sans TC", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-pt {
  font-family: "PT Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
@theme {
 
  --color-black-900: #000000DE; 
  --color-black-700: #00000098; 
  --color-black-500: #00000060; 

  --color-white-900: #FFFFFF;   
  --color-white-700: #FFFFFFDE; 

  --color-blue-500: #4F61FF;    
}